* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
}

h1 {
	margin: 1em 0;
	text-align: center;
}

canvas {
	display: block; /* inline by default */
	/* height is set in html due to scaling issues */

	margin: 0 auto;
	border: 1px solid #868686;
}
